* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* =============Index============== */
.header {
  background: #222;
  position: relative;
}

.header .header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__left {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__logo-left {
  margin-right: 41px;
  width: 44px;
  height: 38px;
}

.header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .search__icon-label {
  display: block;
  width: 26px;
  height: 26px;
  background-image: url("../img/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.header .search__icon-input {
  width: 0;
  height: 0;
  outline: none;
  border: none;
  background: transparent;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.header .search__icon-input:focus {
  border-bottom: 1px solid #E8E8E8;
  width: 150px;
  height: 20px;
  color: #E8E8E8;
  padding-left: 12px;
}

.header .login {
  fill: #E8E8E8;
}

.header .header__link {
  margin-left: 33px;
}

.header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 23px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.header .menu__btn-item {
  margin: auto 0;
  display: block;
  width: 100%;
  height: 3px;
  background: #E8E8E8;
  position: relative;
}

.header .menu__btn-item::before,
.header .menu__btn-item::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  left: 0;
  position: absolute;
  background: #E8E8E8;
}

.header .menu__btn-item::before {
  top: 10px;
}

.header .menu__btn-item::after {
  top: -10px;
}

.header .menu__input {
  display: none;
}

.header .menu__input:checked ~ .header__menu {
  visibility: visible;
  z-index: 3;
}

.header .header__menu {
  max-width: 232px;
  width: 100%;
  padding: 0;
  background: #FFFFFF;
  position: absolute;
  top: 77px;
  right: 0;
  visibility: hidden;
}

.header .menu__list,
.header .menu__sublist {
  list-style-type: none;
}

.header .menu__list {
  padding: 37px 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .menu__list-item {
  margin: 0 0 12px 0;
}

.header .menu__list-item:first-child {
  margin: 0 0 24px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
}

.header .menu__list-item > a {
  display: block;
  margin: 0 0 12px 0;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
  color: #F16D7F;
}

.header .menu__list-item > a:hover {
  text-decoration: underline;
}

.header .menu__list-item > a:active {
  text-decoration: none;
  color: red;
}

.header .menu__sublist-item > a {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-bottom: 11px;
  padding-left: 20px;
  text-decoration: none;
}

.header .menu__sublist-item > a:hover {
  text-decoration: underline;
}

.header .menu__sublist-item > a:active {
  text-decoration: none;
  color: red;
}

.header .cart__btn {
  border: none;
  background: transparent;
  margin-left: 33px;
  color: #FFFFFF;
  position: relative;
}

.header .cart__btn:hover {
  color: #F1E4E6;
}

.header .cart__btn:active {
  color: red;
}

.header .cart__icon {
  fill: currentColor;
  padding-right: 10px;
}

.header .cart__btn-txt {
  display: block;
  width: 19px;
  height: 19px;
  background: #F16D7F;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  top: -7px;
  right: 0;
}

.arrival {
  background: #F8F3F4;
}

.arrival .arrival__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 148px;
}

.arrival .arrival__title {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  font-weight: 400;
}

.arrival .breadcrumb {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrival .bread__list {
  text-transform: uppercase;
}

.arrival .bread__link {
  text-decoration: none;
  padding-right: 16px;
  color: #636363;
  position: relative;
}

.arrival .bread__list span {
  color: #F16D7F;
}

.arrival .bread__link::after {
  content: "/";
  position: absolute;
  right: 3px;
}

.content__filter {
  margin-bottom: 64px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 5;
}

.content__filter .filter {
  max-width: 360px;
  margin-left: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content__filter #switch-filter {
  display: none;
}

.content__filter #switch-filter:checked ~ .filter__list {
  display: block;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 13px 16px 16px 16px;
}

.content__filter .filter__label {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;
  background: transparent;
  border: none;
  color: #000;
  text-align: left;
}

.content__filter .filter__label span {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-transform: uppercase;
}

.content__filter .filter__label svg {
  margin: 0 0 0 11px;
  fill: currentColor;
}

.content__filter .filter__label:hover svg {
  color: #F16D7F;
}

.content__filter .filter__label:hover span {
  color: #F16D7F;
}

.content__filter .filter__label:active {
  color: #222224;
}

.content__filter .filter__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1;
  left: 1;
  z-index: 20;
}

.content__filter .filter__list-item {
  width: 100%;
  margin: 0 0 18px 0;
  padding: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
}

.content__filter .filter__list-item:before {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background: #EF5B70;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.content__filter .filter__list-item a {
  text-transform: uppercase;
  color: #EF5B70;
  text-decoration: none;
}

.content__filter .filter__list-item:hover::before {
  background: red;
}

.content__filter .filter__list-item:hover a {
  color: red;
}

.content__filter .filter__list-item:active::before {
  background: purple;
}

.content__filter .filter__list-item:active a {
  color: purple;
}

.content__filter .filter__sublist {
  margin-top: 24px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.content__filter .filter__sublist-item {
  margin-bottom: 11px;
}

.content__filter .filter__sublist-item a {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  font-weight: 400;
}

.content__filter .filter__sublist-item:hover a {
  text-decoration: underline;
}

.content__filter .filter__sublist-item:active a {
  color: #EF5B70;
}

.content__filter .filter__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.content__filter .nav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: none;
  background: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  position: relative;
}

.content__filter .filter__text {
  margin-right: 11px;
}

.content__filter .filter__icon {
  fill: #6F6E6E;
  position: absolute;
  top: 5px;
  right: -10px;
}

.content__filter input:focus,
.content__filter button:focus {
  outline: none;
}

.content__filter .list__size {
  margin-left: 28px;
  margin-right: 28px;
  width: 80px;
  border: none;
  background: transparent;
}

.content__filter .list__size-btn {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  color: #6F6E6E;
  background: transparent;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.content__filter .list__size-btn svg {
  fill: currentColor;
  position: absolute;
  top: 5px;
  left: 39px;
}

.content__filter .list__size-btn:hover {
  color: #F16D7F;
}

.content__filter .list__size-btn:active {
  color: black;
}

.content__filter .list__size-btn:active svg {
  fill: currentColor;
}

.content__filter #switch {
  display: none;
}

.content__filter #switch:checked ~ .list__size-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__filter .list__size-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
  padding: 9.5px 9.5px 9.5px 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  position: absolute;
  top: 1;
  left: 1;
  z-index: 20;
}

.content__filter .list__size-item {
  display: none;
}

.content__filter .list__size-item:nth-child(1):checked ~
.list__size-title:nth-child(2):before,
.content__filter .list__size-item:nth-child(3):checked ~
.list__size-title:nth-child(4):before,
.content__filter .list__size-item:nth-child(5):checked ~
.list__size-title:nth-child(6):before,
.content__filter .list__size-item:nth-child(7):checked ~
.list__size-title:nth-child(8):before {
  background-image: url("../../img/checkmark.png");
  background-position: center;
  background: cover;
}

.content__filter .list__size-title {
  display: block;
  margin-bottom: 6px;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.content__filter .list__size-title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1;
  left: -23px;
}

.pages {
  width: 283px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #EBEBEB;
}

.pages .pages__btn {
  width: 8px;
  border: none;
  background: transparent;
}

.pages .left {
  background-image: url("../img/vector-left.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 18px;
  margin-left: 15px;
}

.pages .right {
  background-image: url("../img/vector-right.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
  margin-right: 15px;
}

.pages .pages__box {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 0;
  width: 202px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pages .pages__list a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #EBEBEB;
}

.pages .next::after {
  content: "...";
  color: #EBEBEB;
}

.pages .pages__list a:hover {
  color: #EF5B70;
}

.pages .pages__list a:active {
  color: purple;
}

.pages .next:hover::after {
  color: #EF5B70;
}

.pages .next:active::after {
  color: purple;
}

.women {
  z-index: 0;
}

.women__top {
  width: 100%;
  min-height: 777px;
  background: #F7F7F7;
  background-image: url("../img/women.png");
  background-repeat: no-repeat;
  background-position: center 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.women__top button {
  border: none;
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
}

.women__top button:hover {
  fill: #F16D7F;
}

.women__top button:active {
  fill: red;
}

.women__bot {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAEAEA;
  margin-top: -60px;
  z-index: 2;
  background: #fff;
}

.women .women__title {
  margin-top: 64px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  position: relative;
}

.women .women__title::after {
  content: "";
  width: 63px;
  height: 3px;
  background: #F16D7F;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 24px;
  left: 44px;
}

.women .women__subtitle {
  margin-top: 27px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
}

.women .women__text {
  margin-top: 48px;
  max-width: 555px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
}

.women .women__price {
  margin-top: 32px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  position: relative;
}

.women .women__price::after {
  content: "";
  width: 641px;
  border: 1px solid #EAEAEA;
  position: absolute;
  top: 95px;
  left: -299px;
}

.women .women__size {
  width: 100%;
}

.women .women__size-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.women .women__size-btn span {
  margin-right: 9px;
}

.women .women__size-btn svg {
  fill: #6F6E6E;
}

.women #women-switch {
  display: none;
}

.women #women-switch:checked ~ .women__size-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 79px;
  width: 100%;
}

.women .women__size-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
  padding: 9.5px 9.5px 9.5px 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  position: absolute;
  top: 24px;
  left: 202px;
  z-index: 6;
}

.women .women__size-item {
  display: none;
}

.women .women__size-title {
  text-align: center;
  display: block;
  margin-bottom: 6px;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.women .women__size-title::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #EBEBEB;
  position: absolute;
  top: 1;
  left: -14px;
}

.women .women__box-filter {
  position: relative;
  margin-top: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.women .women__btn-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 22px;
}

.women .women__btn-filter p {
  max-width: 120px;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  padding-right: 9px;
}

.women .women__btn-filter svg {
  fill: #6F6E6E;
}

.women .women__btn-bot {
  margin-top: 49px;
  padding: 16px 26px 13px 72px;
  border: 1px solid #FF6A6A;
  color: #FF6A6A;
  background: transparent;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  background-image: url("../img/cart2.png");
  background-repeat: no-repeat;
  background-position: left 23px center;
  margin-bottom: 65px;
}

.product {
  margin-top: 129px;
}

.intro {
  background: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 764px;
}

.intro .intro__img {
  width: 50%;
  background-image: url("../img/layer57removebgpreview1.png");
  background-repeat: no-repeat;
  background-position: right;
}

.intro .intro__box {
  margin-top: 290px;
  margin-left: 91px;
  position: relative;
}

.intro .intro__box::after {
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background: #F16D7F;
  position: absolute;
  left: -28px;
  top: 0;
}

.intro .intro__box {
  text-transform: uppercase;
}

.intro .intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.intro .intro__subtitle {
  font-weight: 700px;
  font-size: 32px;
  line-height: 32px;
}

.intro .intro__subtitle span {
  color: #F16D7F;
}

.merch {
  margin-top: 65px;
  margin-bottom: 96px;
}

.merch .merch__block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.merch .merch__item {
  max-width: 360px;
  width: 100%;
  height: 260px;
  background-image: url("../img/Group36.png");
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.merch .merch__text-top {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.merch .merch__text-bot {
  color: #F16D7F;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.merch .men {
  background-image: url("../img/Group37.png");
}

.merch .kids {
  background-image: url("../img/Group38.png");
}

.merch .merch__block-bot {
  max-width: 1140px;
  width: 100%;
  margin-top: 30px;
  background-image: url("../img/Group39.png");
  background-size: 100% 100%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  margin-top: 51px;
  z-index: 1;
}

.content .content__title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.content .content__subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-top: 6px;
}

.content .content__block {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .content__item {
  max-width: 360px;
  width: 100%;
  margin-bottom: 50px;
  background: #F8F8F8;
  position: relative;
}

.content .content__item:hover .content__photo {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.content .content__item:hover .ground {
  background: rgba(58, 56, 56, 0.66);
}

.content .content__item-title {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 25px;
  text-transform: uppercase;
  margin-left: 18px;
}

.content .content__item-text {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12px;
  margin-left: 16px;
}

.content .price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
  margin-left: 18px;
  margin-bottom: 20px;
}

.content .ground {
  max-width: 360px;
  width: 100%;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .content__item-btn {
  visibility: hidden;
  position: absolute;
  top: 26%;
  left: 32%;
  border: 1px solid #fff;
  padding: 11px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  color: #fff;
}

.content .content__item-btn svg {
  fill: #fff;
  margin-right: 10px;
}

.content .content__item-btn span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.content .content__item:hover .content__item-btn {
  visibility: visible;
}

.content .content__item-btn:hover {
  color: red;
}

.content .content__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .content__link:hover {
  background: #F16D7F;
  color: #fff;
}

.content .content__link {
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.feature {
  margin-top: 95px;
  background: #222224;
}

.feature .feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature .feature__item {
  margin-top: 103px;
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 104px;
  min-height: 134px;
}

.feature .feature__icon {
  fill: pink;
}

.feature .feature__icon:hover {
  fill: #F16D7F;
}

.feature .feature__icon:active {
  fill: red;
}

.feature .feature__title {
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.feature .feature__text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  margin-top: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

.feature .delivery {
  margin-top: 28px;
}

.feature .sale {
  margin-top: 19px;
}

.feature .quality {
  margin-top: 25px;
}

.subscribe {
  min-height: 448px;
  background-image: url("../img/photosubscribe.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.subscribe .subscribe__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe .subscribe__left {
  max-width: 359px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/Intersect.png");
  background-repeat: no-repeat;
  background-position: 50% 97px;
}

.subscribe .subscribe__left-text {
  padding-top: 223px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.subscribe .subscribe__left-text span {
  font-style: italic;
}

.subscribe .subscribe__right {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .subscribe__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 43px;
  text-align: center;
  color: #222224;
}

.subscribe .subscribe__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 43px;
}

.subscribe .subscribe__form {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe .subcribe__input {
  width: 256px;
  min-height: 49px;
  background: #E1E1E1;
  padding-left: 22px;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
}

.subscribe .subcribe__btn {
  width: 100px;
  height: 49px;
  margin-left: 0;
  padding: 7px;
  background: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
}

.product {
  margin-top: 129px;
}

.footer {
  background: #222224;
}

.footer .footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 79px;
}

.footer .footer__text {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer .social__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .social__link {
  width: 32px;
  height: 32px;
  background: #fff;
  margin-left: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .social__link:hover {
  background: #F16D7F;
  fill: #fff;
}

.footer .social__link:active {
  background: red;
  fill: grey;
}

.shop {
  margin-top: 96px;
  margin-bottom: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop .shop__left {
  max-width: 652px;
  width: 100%;
}

.shop .shop__item {
  max-width: 652px;
  width: 100%;
  min-height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  -webkit-box-shadow: 20px 20px 40px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 20px 20px 40px 4px rgba(0, 0, 0, 0.3);
  position: relative;
}

.shop .shop__photo {
  max-width: 262px;
  width: 100%;
  min-height: 306px;
}

.shop .shop__photo img {
  width: 100%;
  height: 100%;
}

.shop .shop__descript {
  max-width: 262px;
  width: 100%;
  margin: 22px 0 62px 0;
}

.shop .shop__title {
  margin-bottom: 43px;
}

.shop .shop__title h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
}

.shop .shop__item-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin-bottom: 6px;
}

.shop .shop__span-one {
  color: #F16D7F;
}

.shop .shop__span-two {
  color: #656565;
  margin-left: 40px;
  padding: 2px 15px;
  border: 1px solid #EAEAEA;
}

.shop .close__btn {
  display: block;
  width: 18px;
  height: 18px;
  border: none;
  margin-top: 22px;
  margin-right: 24px;
  background: transparent;
}

.shop .close__btn::before {
  content: "";
  width: 20px;
  height: 2px;
  background: #575757;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 28px;
  right: 24px;
}

.shop .close__btn::after {
  content: "";
  width: 20px;
  height: 2px;
  background: #575757;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 28px;
  right: 24px;
}

.shop .box__btn {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop .box__btn button {
  border: 1px solid #A4A4A4;
  background: transparent;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #575757;
  padding: 17px 40px 14px 40px;
  text-transform: uppercase;
}

.shop .shop__right {
  max-width: 360px;
  width: 100%;
  margin-top: 17px;
}

.shop .shop__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop .shop__form h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shop .shop__form input {
  max-width: 360px;
  width: 100%;
  min-height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  border: 1px solid #A4A4A4;
  padding-left: 17px;
}

.shop input::-webkit-input-placeholder {
  color: #B1B1B1;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.shop input:-ms-input-placeholder {
  color: #B1B1B1;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.shop input::-ms-input-placeholder {
  color: #B1B1B1;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.shop input::placeholder {
  color: #B1B1B1;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.shop .shop__form button {
  margin-top: 24px;
  padding: 10px 12px;
  border: 1px solid #A4A4A4;
  max-width: 100px;
  width: 100%;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
}

.shop .shop__total {
  margin-top: 57px;
  max-width: 360px;
  width: 100%;
  background: #F5F3F3;
  min-height: 214px;
}

.shop .shop__box-text {
  margin-right: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 39px;
}

.shop .shop__total-text {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.shop .shop__total-title {
  margin-top: 12px;
}

.shop .shop__total-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.shop .shop__total-title span {
  color: #F16D7F;
}

.shop .shop__total-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 39px 0 42px;
  position: relative;
}

.shop .shop__total-btn button {
  width: 273px;
  padding: 15px;
  background: #F16D7F;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
}

.shop .shop__total-btn::before {
  content: "";
  width: 275px;
  height: 1px;
  background: #E2E2E2;
  position: absolute;
  top: -17px;
  left: 39px;
}

.regist {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 96px;
}

.regist__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.regist__form h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.regist__form input {
  margin-top: 20px;
  max-width: 360px;
  width: 100%;
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #A4A4A4;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  padding-left: 16px;
}

.regist__form input::-webkit-input-placeholder {
  color: #B1B1B1;
}

.regist__form input:-ms-input-placeholder {
  color: #B1B1B1;
}

.regist__form input::-ms-input-placeholder {
  color: #B1B1B1;
}

.regist__form input::placeholder {
  color: #B1B1B1;
}

.regist .regist__radio {
  min-height: 17px;
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 33px;
}

.regist .regist__radio input {
  max-width: 17px;
  width: 100%;
  min-height: 17px;
  margin: 0 10px 0 20px;
}

.regist .regist__radio label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.regist .regist__form p {
  margin-top: 15px;
  max-width: 360px;
  width: 100%;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.regist .regist__form button {
  max-width: 167px;
  width: 100%;
  margin-top: 39px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #F16D7F;
  padding: 16px 66px 17px 29px;
  text-transform: uppercase;
  border: none;
  background-image: url("../img/vector-white.png");
  background-repeat: no-repeat;
  background-position: right 25px top 20px;
  position: relative;
}

.regist .regist__form button::after {
  content: "";
  width: 16px;
  height: 2px;
  position: absolute;
  background: #fff;
  top: 24px;
  right: 25px;
}

.regist__right {
  max-width: 652px;
  width: 100%;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.regist__right p:nth-child(1) {
  text-transform: uppercase;
}

.regist__right p:nth-child(2) {
  margin-top: 22px;
}

.regist__right ul {
  list-style: none;
  margin-top: 21px;
}

.regist__right ul li {
  padding-left: 43px;
  margin-bottom: 16px;
  background-image: url("../img/ok.png");
  background-repeat: no-repeat;
  background-position: left center;
}

/* =============Index========== */
@media (max-width: 768px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
  .header__box {
    margin: 0 32px;
  }
  .intro {
    max-height: 368px;
    width: 100%;
  }
  .intro .intro__img {
    height: 368px;
    background-size: auto 368px;
    width: 50%;
  }
  .intro .intro__box {
    margin-top: 138px;
    margin-left: 67px;
  }
  .intro .intro__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
    color: #222222;
  }
  .intro .intro__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
  }
  .merch {
    margin: 20px 16px 155px;
  }
  .merch .merch__block-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .merch .merch__item {
    max-width: 232px;
    height: 168px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .merch .merch__block-bot {
    max-width: 735px;
    width: 100%;
    height: 116px;
  }
  .content .content__subtitle {
    margin-top: 3px;
    margin-bottom: 73px;
  }
  .content .content__block {
    margin: 0 16px 0;
  }
  .content .content__item {
    margin-bottom: 16px;
  }
  .content .content__btn {
    margin-top: 33px;
  }
  .content .content__item:nth-child(6) {
    display: block;
  }
  .feature {
    margin-top: 65px;
  }
  .feature .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 48px;
    padding-bottom: 17px;
  }
  .feature .feature__item {
    margin-top: 0;
    margin-bottom: 48px;
  }
  .subscribe {
    background-size: 100% 768px;
  }
  .subscribe .subscribe__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe .subscribe__left {
    padding-top: 53px;
  }
  .subscribe .subscribe__left-text {
    padding-top: 186px;
  }
  .subscribe .subscribe__right {
    margin-top: 48px;
  }
  .subscribe .subscribe__subtitle {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
  }
  .subscribe .subscribe__form {
    margin-top: 27px;
    margin-bottom: 219px;
  }
  .footer__box {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 375px) {
  .header .header__box {
    margin-left: 16px;
    margin-right: 16px;
  }
  .header .header__link {
    display: none;
  }
  .header .cart__btn {
    display: none;
  }
  .intro .intro__img {
    display: none;
  }
  .intro .intro__box {
    margin-left: 83px;
  }
  .intro .intro__title {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    color: #222222;
  }
  .intro .intro__subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  .intro .intro__box::after {
    content: "";
    display: block;
    width: 12px;
    height: 61px;
    background: #F16D7F;
    position: absolute;
    left: -28px;
    top: 5px;
  }
  .merch {
    margin: 64px 16px 0;
  }
  .merch .merch__block-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .merch .merch__item {
    max-width: 343px;
    height: 247px;
    margin-bottom: 32px;
  }
  .content {
    margin-top: 64px;
  }
  .content .content__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 260px;
    width: 100%;
  }
  .content .content__filter .list__size {
    margin: 0 12px;
  }
  .content .content__block {
    margin: 0 8px 0;
  }
  .content .content__btn {
    margin-top: 41px;
  }
  .content .content__photo {
    width: 100%;
  }
  .content .ground {
    max-width: 360px;
    width: 100%;
    height: 420px;
  }
  .feature {
    margin-top: 96px;
    padding-bottom: 33px;
  }
  .subscribe .subscribe__block {
    padding-top: 11px;
  }
  .subscribe .subscribe__left-text {
    font-size: 18px;
    line-height: 22px;
  }
  .subscribe .subscribe__right {
    margin-top: 59px;
  }
  .subscribe .subscribe__title {
    font-size: 24px;
    line-height: 37px;
  }
  .subscribe .subscribe__subtitle {
    font-size: 14px;
    line-height: 21px;
  }
  .subscribe .subscribe__form {
    margin-top: 22px;
    max-width: 309px;
    height: 47px;
    margin-bottom: 110px;
  }
  .footer .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__copy {
    margin-top: 40px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 8px;
  }
  .footer .social__box {
    margin-top: 43px;
  }
}

/* =============Catalog========== */
@media (max-width: 768px) {
  .arrival__box {
    margin: 0 16px;
  }
  .content {
    margin-top: 24px;
  }
  .content__filter {
    margin-bottom: 40px;
  }
  .content__item:nth-child(9) {
    display: none;
  }
  .pages {
    margin-top: 24px;
  }
}

@media (max-width: 375px) {
  .arrival__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .arrival__title {
    margin-top: 24px;
  }
  .breadcrumb {
    margin-top: 32px;
    margin-bottom: 46px;
  }
  .content__filter {
    margin-left: 0;
    margin-bottom: 0;
  }
  .filter {
    margin-left: 8px;
  }
  .filter__label span {
    display: none;
  }
  .filter__label svg {
    width: 36px;
    height: 25px;
  }
  .filter__box {
    margin-left: 31px;
  }
  .filter__text,
  .list__size-btn span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #6F6E6E;
  }
  .content__filter {
    margin-bottom: 24px;
  }
  .content__item:nth-child(9) {
    display: block;
  }
}

/* =============Product========== */
@media (max-width: 768px) {
  .women {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .women .women__bot {
    max-width: 768px;
    width: 100%;
    margin-bottom: 105px;
  }
  .content__item:last-child {
    display: none;
  }
}

@media (max-width: 375px) {
  .women .women__top {
    background-size: 90%;
    background-position: center;
  }
  .women .women__bot {
    max-width: 375px;
    width: 100%;
    margin-bottom: 64px;
  }
  .women .women__bot .women__box-filter {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 82px;
  }
  .women .women__bot .women__box-filter .women__btn-filter p {
    font-size: 10px;
    line-height: 12px;
  }
  .women .women__bot .women__box-filter .women__size-btn span {
    font-size: 10px;
    line-height: 12px;
  }
  .women__text {
    padding: 0 24px;
  }
  .women .women__price::after {
    content: "";
    width: 160px;
    border: 1px solid #EAEAEA;
    position: absolute;
    top: 60px;
    left: -55px;
  }
  .subscribe {
    margin-top: 60px;
  }
}

/* =============Cart========== */
@media (max-width: 768px) {
  .shop {
    margin-top: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shop .box__btn {
    max-width: 508px;
    width: 100%;
    margin: 60px auto;
  }
  .shop .shop__right {
    max-width: 754px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .shop .shop__right .shop__form input {
    width: 360px;
  }
}

@media (max-width: 375px) {
  .arrival__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .arrival__box .arrival__title {
    margin-top: 50px;
  }
  .shop {
    padding: 0 8px;
  }
  .shop .shop__item {
    max-width: 358px;
    width: 100%;
    height: 188px;
  }
  .shop .shop__item .shop__title {
    margin-bottom: 26px;
  }
  .shop .shop__item .shop__descript {
    margin-top: 13px;
    padding-left: 16px;
  }
  .shop .shop__item .shop__descript h3 {
    font-size: 16px;
    line-height: 19px;
  }
  .shop .shop__item .shop__descript p {
    font-size: 14px;
    line-height: 17px;
  }
  .shop .shop__item .shop__descript p .shop__span-two {
    margin-left: 20px;
  }
  .shop .shop__item .close__btn {
    width: 10px;
    height: 10px;
    margin-top: 17px;
    margin-right: 12px;
  }
  .shop .shop__item .close__btn::before {
    content: "";
    width: 12px;
    height: 2px;
    background: #575757;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
    top: 17px;
    right: 12px;
  }
  .shop .shop__item .close__btn::after {
    content: "";
    width: 12px;
    height: 2px;
    background: #575757;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
    top: 17px;
    right: 12px;
  }
  .shop .box__btn button {
    max-width: 174px;
    width: 100%;
    min-height: 32px;
    padding: 9px 13px 9px 13px;
    font-size: 12px;
    line-height: 14px;
  }
  .shop .shop__total {
    margin-top: 48px;
  }
  .shop__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* =============Registration========== */
@media (max-width: 768px) {
  .regist {
    margin-top: 40px;
    padding: 0 16px;
  }
  .regist__right {
    max-width: 354px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 375px) {
  .regist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 9px;
    margin-bottom: 96px;
  }
  .regist .regist__right {
    margin-top: 40px;
  }
}
/*# sourceMappingURL=style.css.map */