* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif; 
}

$red: #F16D7F;

.container {
    max-width: 1140px;
    
    margin: 0 auto;
}

/* =============Index============== */

@import "../css/block/header";

@import "../css/block/catalog";

@import "../css/block/product";

.intro {
    background: #F1E4E6;       
    display: flex; 
    height: 764px; 

    .intro__img {
        width: 50%;       
        background-image: url("../img/layer57removebgpreview1.png");
        background-repeat: no-repeat;
        background-position: right;
    }
    
    .intro__box {
        margin-top: 290px;
        margin-left: 91px; 
        position: relative;
    }

    .intro__box::after {
        content: "";
        display: block;
        width: 12px;
        height: 92px;
        background: #F16D7F;
        position: absolute;
        left: -28px;
        top: 0;
        
    }

    .intro__box {
        text-transform: uppercase;
    }

    .intro__title {
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: #222222;
    }

    .intro__subtitle {
        font-weight: 700px;
        font-size: 32px;
        line-height: 32px;
    }

    .intro__subtitle span {
        color: #F16D7F;
    }
}

.merch {
    margin-top: 65px;
    margin-bottom: 96px;

    .merch__block-top {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
    }

    .merch__item {
        max-width: 360px;
        width: 100%;
        height: 260px;
        background-image : url("../img/Group36.png");
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

    }

    .merch__text-top {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF
    }

    .merch__text-bot {
        color: $red;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }

    .men {       
        background-image : url("../img/Group37.png"); 
        margin: 0 30px;     
    }

    .kids {
        background-image : url("../img/Group38.png");       
    }

    .merch__block-bot {
        max-width: 1140px;
        width: 100%;
        margin-top: 30px;
        background-image: url("../img/Group39.png"); 
        background-size: 100% 100%;      
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

.content {  
    margin-top: 51px;
    z-index: 1;

    .content__title {
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
    }

    .content__subtitle {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
        margin-top: 6px;
    }

    .content__block {
        margin-top: 48px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .content__item {
        max-width: 360px;
        width: 100%;
        margin-bottom: 50px;
        background: #F8F8F8;
        position: relative;
    }

    .content__item:hover .content__photo {
        filter: brightness(50%);
    }

    .content__item:hover .ground {
        background: rgba(58, 56, 56, 0.66);
    }

    .content__item-title {
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        margin-top: 25px;
        text-transform: uppercase;
        margin-left: 18px;
    }

    .content__item-text {
        display: block;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        margin-top: 12px;
        margin-left: 16px;
    }

    .price {
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
        margin-top: 18px;
        margin-left: 18px;
        margin-bottom: 20px;
    }

    .ground {    
        max-width: 360px;
        width: 100%;
        height: 420px;   
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content__item-btn {
        visibility: hidden;
        position: absolute;
        top: 26%;
        left: 32%;
        border: 1px solid #fff;
        padding: 11px 13px;
        display: flex;
        align-items: center;
        background: transparent;
        color: #fff;

        & svg {
            fill: #fff;
            margin-right: 10px;
        }

        & span {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
    }

    .content__item:hover .content__item-btn {
        visibility: visible;
    }

    .content__item-btn:hover {
        color: red;
    }

    .content__btn {
        display: flex;
        justify-content: center;
        
    }

    .content__link:hover {
        background: #F16D7F;
        color: #fff;
    }

    .content__link {
        border: 1px solid #FF6A6A;
        padding: 14px 38px;
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        color: #F26376;
    }
}

.feature {
    margin-top: 95px;
    background: #222224;

    .feature__list {
        display: flex;
        justify-content: space-between;
    }

    .feature__item {
        margin-top: 103px;      
        max-width: 360px;       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 104px;
        min-height: 134px;
    }

    .feature__icon {  
       fill: pink;    
    }

    .feature__icon:hover {
        fill: #F16D7F;
    }

    .feature__icon:active {
        fill: red;
    }

    .feature__title {
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
    }

    .feature__text {
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        margin-top: 16px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .delivery {
        margin-top: 28px;
    }

    .sale {
        margin-top : 19px;
    }

    .quality {
        margin-top: 25px;
    }
}

.subscribe {
    min-height: 448px;
    background-image: url("../img/photosubscribe.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .subscribe__block {
        display: flex;
        justify-content: space-between;
    }

    .subscribe__left {
        max-width: 359px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../img/Intersect.png");
        background-repeat:  no-repeat;
        background-position: 50% 97px;
    }

    .subscribe__left-text {
        padding-top: 223px;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
    }

    .subscribe__left-text span {
        font-style: italic;
    }

    .subscribe__right {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subscribe__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 43px;
        text-align: center;
        color: #222224;
    }

    .subscribe__subtitle {
        font-weight: 400;
        font-size: 24px;
        line-height: 43px;
    }

    .subscribe__form {
        margin-top: 32px;
        display: flex;
    }

    .subcribe__input {
        width: 256px;
        min-height: 49px;
        background: #E1E1E1;
        padding-left: 22px;
        font-size: 14px;
        line-height: 17px;
        color: #222224;
        opacity: 0.67;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: none;
    }

    .subcribe__btn {
        width: 100px;
        height: 49px;
        margin-left: 0;
        padding: 7px;
        background: #F16D7F;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: none;
    }
}

.product {
    margin-top: 129px;
}

@import "../css/block/footer";

@import "../css/block/shop";

@import "../css/block/regist";

/* =============Index========== */

@media(max-width: 1140px) {
    .merch {
        .kids {
            margin-top: 20px;
        }
    }

    .content {
        .content__block {
            justify-content: center;
        }

        .content__item {
            margin: 30px 4px;
        }
    }
}

@media(max-width: 768px) {
    .container {
        margin-left: 0;
        margin-right: 0;
    }

    .header__box {
        margin: 0 32px;
    }

    .intro {
        max-height: 368px;
        width: 100%;
    
        .intro__img {
            height: 368px;
            background-size: auto 368px;       
            width: 50%;
        }

        .intro__box {   
            margin-top: 138px;
            margin-left: 67px;     
        }

        .intro__title {
            font-weight: 900;
            font-size: 44px;
            line-height: 53px;
            color: #222222;
        }

        .intro__subtitle {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #222222;
        }
    }

    .merch {
        margin: 20px 16px 155px;

        .merch__block-top {
            display: flex; 
            flex-wrap:nowrap;          
        }

        .merch__item {
            max-width: 232px;
            height: 168px;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        
        .merch__block-bot {
            max-width: 735px;
            width: 100%;
            height: 116px;
        }

        .kids {
            margin: 0;
        }
    }

    .content {

        .content__subtitle {
            margin-top: 3px;
            margin-bottom: 73px;
        }

        .content__block {
            
            margin: 0 16px 0;
        }

        .content__btn {
            margin-top: 33px;
        }

        .content__item:nth-child(6) {
            display: block;
        }
    }

    .feature {
        margin-top: 65px;       

        .feature__list {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 48px;
            padding-bottom: 17px;
        }

        .feature__item {
            margin-top: 0;
            margin-bottom: 48px;
        }
    }

    .subscribe {
        background-size: 100% 768px;

        .subscribe__block {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .subscribe__left {
            padding-top: 53px;
        }

        .subscribe__left-text {
            padding-top: 186px;
        }

        .subscribe__right {
            margin-top : 48px;
        }

        .subscribe__subtitle {
            font-size: 18px;
            line-height: 27px;
            font-weight: 400;
        }

        .subscribe__form {
            margin-top: 27px;
            margin-bottom: 219px;
        }
    }

    .footer__box {
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media(max-width: 375px) {
    .header {

        .header__box {
            margin-left: 16px;
            margin-right: 16px;
        }

        .header__link {
            display: none;
        }

        .cart__btn {
            display: none;
        }
    }

    .merch {
        .men {
            margin: 0;
        }
    }

    .intro {
        .intro__img {
            display: none;
        }

        .intro__box {
            margin-left: 83px;
        }

        .intro__title {
            font-weight: 900;
            font-size: 38px;
            line-height: 46px;
            color: #222222;
        }

        .intro__subtitle {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;            
        }

        .intro__box::after {
            content: "";
            display: block;
            width: 12px;
            height: 61px;
            background: #F16D7F;
            position: absolute;
            left: -28px;
            top: 5px;
        }
    }

    .merch {
        margin: 64px 16px 0;

        .merch__block-top {
            display: flex;
            flex-direction: column;
        }

        .merch__item {
            max-width: 343px;
            height: 247px;
            margin-bottom: 32px;
        }
    }

    .content {
        margin-top: 64px;

        .content__filter {
            display: flex;
            max-width: 260px;
            width: 100%;

            .list__size {
                margin: 0 12px;
            }
        }

        .content__item {
            margin: 16px 6px;
        }

        .content__block {
            margin: 0 8px 0;
        }

        .content__btn {
            margin-top: 41px;
        }

        .content__photo {
            width: 100%;
        }

        .ground {
            max-width: 360px;
            width: 100%;
            height: 420px;           
        }
    }

    .feature {
        margin-top: 96px;
        padding-bottom: 33px;
    }

    .subscribe { 
        margin-top: 0;  

        .subscribe__block {
            padding-top: 11px;
        }

        .subscribe__left-text {
            font-size: 18px;
            line-height: 22px;
        }

        .subscribe__right {
            margin-top: 59px;
        }

        .subscribe__title {
            font-size: 24px;
            line-height: 37px;
        }

        .subscribe__subtitle {
            font-size: 14px;
            line-height: 21px;
        }

        .subscribe__form {
            margin-top: 22px; 
            max-width: 309px;
            height: 47px;
            margin-bottom: 110px;
        }        
    }

    .footer {

        .footer__box {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer__copy {
            margin-top: 40px;
            order: 1;
            margin-bottom: 8px;
        }

        .social__box {
            margin-top: 43px;
        }
    }
}

/* =============Catalog========== */

@media(max-width: 768px) {
    .arrival__box {
        margin: 0 16px;
    }

    .content {
        margin-top: 24px;
    }

    .content__filter {
        margin-bottom: 40px;
    }

    .content__item:nth-child(9) {
        display: none;
    }

    .pages {
        margin-top: 24px;
    }
}

@media(max-width:375px) {
    .arrival__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .arrival__title {
        margin-top: 24px;
    }

    .breadcrumb {
        margin-top: 32px;
        margin-bottom: 46px;
    }

    .content__filter {
        margin-left: 0;
        margin-bottom: 0;
    }

    .filter {
        margin-left: 8px;
    }

    .filter__label span {
        display: none;
    }

    .filter__label svg {
        width: 36px;
        height: 25px;
    }

    .filter__box {
        margin-left: 31px;
    }

    .filter__text,
    .list__size-btn span {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #6F6E6E;
    }

    .content__filter {
        margin-bottom: 24px;
    }

    .content__item:nth-child(9) {
        display: block;
    }
}

/* =============Product========== */

@media(max-width: 768px) {
    .women {
        display: flex;
        flex-direction: column;

        .women__bot {
            max-width: 768px;
            width: 100%;
            margin-bottom: 105px;
        }
    }

    .content__item:last-child {
        display: none;
    }
}

@media(max-width: 375px) {
    .women{
        .women__top {
            background-size: 90%;
            background-position: center;        
        }

        .women__bot {
            max-width: 375px;
            width: 100%;
            margin-bottom: 64px;

            .women__box-filter {
                box-sizing: border-box;
                margin-top: 82px;
        
                .women__btn-filter  p {
                    font-size: 10px;
                    line-height: 12px;
                }

                .women__size-btn span {
                    font-size: 10px;
                    line-height: 12px;
                }
            }
        }
    }

    .content {
        .content__item:last-child {
            display: block;
        }
    }
    .women__text {
        padding: 0 24px;
    }
   
    .women .women__price::after {
        content: "";
        width: 160px;
        border: 1px solid #EAEAEA;
        position: absolute;
        top: 60px;
        left: -55px;
    }
}

/* =============Cart========== */

@media(max-width: 768px) {
    .shop {
        max-width: 768px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .shop__right {
            display: flex;
            justify-content: space-between;
        }

        .shop__form {
            max-width: 360px;
            width: 100%;
        }

        .box__btn {
            justify-content: center;

            & button {
                margin: 0 49px;
            }
        }

        .shop__right {
            margin-top: 64px;
            max-width: 768px;
            width: 100%;
        }

        .shop__form {
            margin-left: 16px;
        }

        .shop__total {
            margin-right: 16px;
        }
    }
}

@media(max-width: 375px) {
    .shop {
        margin: 39px 0 0 0;

        .shop__left {
            max-width: 360px;
            width: 100%;
        }

        .shop__item {
            max-width: 358px;
            width: 100%;
            height: 188px;
        }

        .shop__photo {
            max-width: 144px;
            width: 100%;
            height: 188px;
        }

        .shop__descript {
            max-width: 143px;
            width: 100%;
            padding: 13px 31px 38px 16px;
        }

        .shop__title {
            margin-bottom: 26px;

            & h3 {
                font-size: 16px;
                line-height: 19px;
            }
        }

        .shop__item-text {
            font-size: 14px;
            line-height: 17px;
        }

        .shop__number input {
            width: 24px;
            height: 14px;
            margin-right: 8px;
        }

        .box__btn {
            margin-top: 30px;
            
        }

        .box__btn button {
            padding: 9px 15px;
            margin: 0 4px;
            font-size: 12px;
            line-height: 14px;
        }

        .shop__right {
            max-width: 360px;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .shop__form {
            margin-left: 0;

            & input {
                max-width: 358px;
                width: 100%;
            }
        }

        .shop__total {
            margin-right: 0;
        }
    }
}

/* =============Registration========== */

@media(max-width: 768px) {
    .regist {
        margin-top: 40px;
        padding: 0 16px;
    }

    .regist__right {
        max-width: 354px;
        width: 100%;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }
}

@media(max-width: 375px) {
    .regist {
        display: flex;
        flex-direction: column;
        padding: 0 9px;
        margin-bottom: 96px;

        .regist__right {
            margin-top: 40px;
        }
    }
}